@import "https://fonts.googleapis.com/css?family=Barlow:400,700|Open+Sans:300,400,600&amp;display=swap";
.btn_4 {
    background-image: -webkit-linear-gradient(131deg, #feb47b, #ff7e5f, #ff7e5f, #ff7e5f);
    background-image: -o-linear-gradient(131deg, #feb47b, #ff7e5f, #ff7e5f, #ff7e5f);
    background-image: linear-gradient(131deg, #feb47b, #ff7e5f, #ff7e5f, #ff7e5f)
}

body {
    font-family: open sans, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.message_submit_form:focus {
    outline: none
}

.gars_affiche {
    margin-bottom: 10px;
    background-color: #2CABDC;
    border: 3px solid #2CABDC;
    border-right: 5px solid #104d75;
    border-left: 5px solid #104d75;
}

@keyframes defilement-rtl {
    0% {
        transform: translate3d(0, 0, 0);
        /* position initiale à droite */
    }
    100% {
        transform: translate3d(-100%, 0, 0);
        /* position finale à gauche */
    }
}


/* le bloc défilant */

.marquee-rtl> :first-child {
    display: inline-block;
    /* modèle de boîte en ligne */
    padding-right: 2em;
    /* un peu d'espace pour la transition */
    padding-left: 100%;
    /* placement à droite du conteneur */
    white-space: nowrap;
    /* pas de passage à la ligne */
    animation: defilement-rtl 15s infinite linear;
}

.marquee-rtl {
    max-width: 50em;
    /* largeur de la fenêtre */
    margin: 1em auto 2em;
    border: 10px solid #F0F0FF;
    overflow: hidden;
    /* masque tout ce qui dépasse */
    box-shadow: 0 .25em .5em #CCC, inset 0 0 1em .25em #CCC;
    margin-top: -50px
}

input:hover,
input:focus {
    outline: none!important
}

.gray_bg {
    background-color: #f7f7f7
}

.section_padding {
    padding: 130px 0
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .section_padding {
        padding: 80px 0
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .section_padding {
        padding: 70px 0
    }
}

@media(max-width:575px) {
    .section_padding {
        padding: 70px 0
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .section_padding {
        padding: 70px 0
    }
}

.single_padding_top {
    padding-top: 130px!important
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .single_padding_top {
        padding-top: 70px!important
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .single_padding_top {
        padding-top: 70px!important
    }
}

@media(max-width:575px) {
    .single_padding_top {
        padding-top: 70px!important
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .single_padding_top {
        padding-top: 80px!important
    }
}

.padding_top {
    padding-top: 130px
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .padding_top {
        padding-top: 80px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .padding_top {
        padding-top: 70px
    }
}

@media(max-width:575px) {
    .padding_top {
        padding-top: 70px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .padding_top {
        padding-top: 70px
    }
}

a {
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s
}

a:hover {
    color: #ff7e5f;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0c3e72;
    font-family: open sans, sans-serif
}

p {
    color: #a2a2a2;
    font-family: open sans, sans-serif;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 400
}

h2 {
    font-size: 44px;
    line-height: 28px;
    color: #0c3e72;
    font-weight: 600;
    line-height: 1.222
}

@media(max-width:575px) {
    h2 {
        font-size: 22px;
        line-height: 25px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    h2 {
        font-size: 24px;
        line-height: 25px
    }
}

h3 {
    font-size: 24px;
    line-height: 25px
}

@media(max-width:575px) {
    h3 {
        font-size: 20px
    }
}

h5 {
    font-size: 18px;
    line-height: 22px
}

img {
    max-width: 100%
}

a:focus,
.button:focus,
button:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
    -webkit-transition: 1s;
    transition: 1s
}

.section_tittle {
    margin-bottom: 73px
}

@media(max-width:991px) {
    .section_tittle {
        margin-bottom: 50px
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .section_tittle {
        margin-bottom: 50px
    }
}

.section_tittle h2 {
    font-size: 46px;
    color: #0c3e72;
    line-height: 1.1;
    font-weight: 700;
    position: relative;
    margin-bottom: 26px
}

@media(max-width:991px) {
    .section_tittle h2 {
        font-size: 30px;
        line-height: 35px
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .section_tittle h2 {
        font-size: 35px;
        line-height: 40px
    }
}

.section_tittle p {
    color: #777;
    font-weight: 400
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.mb_110 {
    margin-bottom: 110px
}

@media(max-width:575px) {
    .mb_110 {
        margin-bottom: 220px
    }
}

.mt_130 {
    margin-top: 130px
}

@media(max-width:575px) {
    .mt_130 {
        margin-top: 70px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .mt_130 {
        margin-top: 70px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .mt_130 {
        margin-top: 70px
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .mt_130 {
        margin-top: 70px
    }
}

.mb_130 {
    margin-bottom: 130px
}

@media(max-width:575px) {
    .mb_130 {
        margin-bottom: 70px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .mb_130 {
        margin-bottom: 70px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .mb_130 {
        margin-bottom: 70px
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .mb_130 {
        margin-bottom: 70px
    }
}

.pt_100 {
    padding-top: 100px
}

@media(max-width:575px) {
    .pt_100 {
        padding-top: 30px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .pt_100 {
        padding-top: 30px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .pt_100 {
        padding-top: 30px
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .pt_100 {
        padding-top: 30px
    }
}

.padding_top {
    padding-top: 140px
}

@media(max-width:991px) {
    .padding_top {
        padding-top: 70px
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .padding_top {
        padding-top: 80px
    }
}

.padding_less_40 {
    margin-bottom: -50px
}

.z_index {
    z-index: 9!important;
    position: relative
}

@media(max-width:575px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media only screen and (min-width:1200px) and (max-width:3640px) {
    .container {
        max-width: 1170px
    }
}

.section_bg {
    background-color: #f7f7f7
}

.place_review {
    display: inline-block
}

.place_review a {
    color: #ffc962
}

.submit_btn {
    width: auto;
    display: inline-block;
    background: #fff;
    padding: 0 50px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 50px;
    border-radius: 5px;
    outline: none!important;
    box-shadow: none!important;
    text-align: center;
    border: 1px solid #fdcb9e;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s
}

.submit_btn:hover {
    background: 0 0
}

.btn_1,
.btn_2 {
    display: inline-block;
    padding: 13px 30px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #2CABDC;
    font-weight: 500;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn_1:hover,
.btn_2:hover {
    color: #fff;
    background-color: #2CABDC
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .nav_achat {
        text-align: center;
        width: 73px;
        font-size: 12px;
    }
    .nav_ticket {
        background: #eee;
        width: 73px;
        font-size: 12px;
        text-align: center;
    }
}


/* .nav_ticket {
    background-color: #eee;
    width: 573px;
    font-size: 17px;
    text-align: center;
}

.nav_achat {
    width: 565px;
    font-size: 17px;
    text-align: center;
} */

@media(max-width:991px) {
    .btn_1,
    .btn_2 {
        padding: 14px 30px
    }
}

.btn_2 {
    background-color: #191d34
}

.btn_2:hover {
    background-color: #7DBF50;
    color: #fff
}

.btn_4 {
    display: inline-block;
    padding: 13px 47px;
    box-shadow: 0 12px 20px 0 rgba(255, 126, 95, .15);
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 50px;
    background-size: 300% 100%
}

.btn_4:hover {
    color: #fff;
    background-size: 100% 100%
}

@media(max-width:575px) {
    .btn_4 {
        padding: 14px 30px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .btn_4 {
        padding: 14px 30px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .btn_4 {
        padding: 14px 30px
    }
}

.btn_3 {
    position: relative;
    font-weight: 500;
    color: #2f373d;
    display: inline-block;
    z-index: 9;
    -webkit-transition: .6s;
    transition: .6s;
    line-height: 46px;
    padding-left: 30px;
    margin-top: 35px;
    font-family: barlow, sans-serif
}

.btn_3:after {
    height: 48px;
    width: 61px;
    background-color: #e3f1da;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: -1;
    -webkit-transition: .6s;
    transition: .6s
}

.btn_3 i {
    font-size: 12px;
    margin-left: 11px
}

.button {
    display: inline-block;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 54px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #fdcb9e;
    text-transform: uppercase;
    background-color: #7DBF50;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s
}

@media(max-width:767px) {
    .button {
        font-size: 13px;
        padding: 9px 24px
    }
}

.button:hover {
    color: #fff!important
}

.button-link {
    letter-spacing: 0;
    color: #3b1d82;
    border: 0;
    padding: 0
}

.button-link:hover {
    background: 0 0;
    color: #3b1d82
}

.button-header {
    color: #fff;
    border-color: #fdcb9e
}

.button-header:hover {
    background: #b8024c;
    color: #fff
}

.button-contactForm {
    color: #fff;
    border-color: #fdcb9e;
    padding: 12px 25px
}

.latest-blog-area .area-heading {
    margin-bottom: 70px
}

.blog_area a {
    color: #666!important;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s
}

.blog_area a:hover,
.blog_area a :hover {
    background: -webkit-linear-gradient(131deg, #feb47b 0%, #ff7e5f 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s
}

.single-blog {
    overflow: hidden;
    margin-bottom: 30px
}

.single-blog:hover {
    box-shadow: 0 10px 20px 0 rgba(42, 34, 123, .1)
}

.single-blog .thumb {
    overflow: hidden;
    position: relative
}

.single-blog .thumb:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s
}

.single-blog h4 {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 34px;
    margin-bottom: 25px
}

.single-blog a {
    font-size: 20px;
    font-weight: 600
}

.single-blog .date {
    color: #666;
    text-align: left;
    display: inline-block;
    font-size: 13px;
    font-weight: 300
}

.single-blog .tag {
    text-align: left;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: 300;
    margin-right: 22px;
    position: relative
}

.single-blog .tag:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    background: #acacac;
    right: -12px;
    top: 7px
}

@media(max-width:1199px) {
    .single-blog .tag {
        margin-right: 8px
    }
    .single-blog .tag:after {
        display: none
    }
}

.single-blog .likes {
    margin-right: 16px
}

@media(max-width:800px) {
    .single-blog {
        margin-bottom: 30px
    }
}

.single-blog .single-blog-content {
    padding: 30px
}

.single-blog .single-blog-content .meta-bottom p {
    font-size: 13px;
    font-weight: 300
}

.single-blog .single-blog-content .meta-bottom i {
    color: #fdcb9e;
    font-size: 13px;
    margin-right: 7px
}

@media(max-width:1199px) {
    .single-blog .single-blog-content {
        padding: 15px
    }
}

.single-blog:hover .thumb:after {
    opacity: .7;
    -webkit-transition: .5s;
    transition: .5s
}

@media(max-width:1199px) {
    .single-blog h4 {
        transition: all 300ms linear 0s;
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 14px;
        margin-bottom: 12px
    }
    .single-blog h4 a {
        font-size: 18px
    }
}

.full_image.single-blog {
    position: relative
}

.full_image.single-blog .single-blog-content {
    position: absolute;
    left: 35px;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s;
    transition: .5s
}

@media(min-width:992px) {
    .full_image.single-blog .single-blog-content {
        bottom: 100px
    }
}

.full_image.single-blog h4 {
    -webkit-transition: .5s;
    transition: .5s;
    border-bottom: none;
    padding-bottom: 5px
}

.full_image.single-blog a {
    font-size: 20px;
    font-weight: 600
}

.full_image.single-blog .date {
    color: #fff
}

.full_image.single-blog:hover .single-blog-content {
    opacity: 1;
    visibility: visible;
    -webkit-transition: .5s;
    transition: .5s
}

.l_blog_item .l_blog_text .date {
    margin-top: 24px;
    margin-bottom: 15px
}

.l_blog_item .l_blog_text .date a {
    font-size: 12px
}

.l_blog_item .l_blog_text h4 {
    font-size: 18px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    padding-bottom: 20px;
    -webkit-transition: .5s;
    transition: .5s
}

.l_blog_item .l_blog_text p {
    margin-bottom: 0;
    padding-top: 20px
}

.causes_slider .owl-dots {
    text-align: center;
    margin-top: 80px
}

.causes_slider .owl-dots .owl-dot {
    height: 14px;
    width: 14px;
    background: #eee;
    display: inline-block;
    margin-right: 7px
}

.causes_slider .owl-dots .owl-dot:last-child {
    margin-right: 0
}

.causes_item {
    background: #fff
}

.causes_item .causes_img {
    position: relative
}

.causes_item .causes_img .c_parcent {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 3px;
    background: rgba(255, 255, 255, .5)
}

.causes_item .causes_img .c_parcent span {
    width: 70%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0
}

.causes_item .causes_img .c_parcent span:before {
    content: "75%";
    position: absolute;
    right: -10px;
    bottom: 0;
    color: #fff;
    padding: 0 5px
}

.causes_item .causes_text {
    padding: 30px 35px 40px 30px
}

.causes_item .causes_text h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer
}

.causes_item .causes_text p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 0
}

.causes_item .causes_bottom a {
    width: 50%;
    border: 1px solid;
    text-align: center;
    float: left;
    line-height: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 500
}

.causes_item .causes_bottom a+a {
    border-color: #eee;
    background: #fff;
    font-size: 14px
}

.latest_blog_area {
    background: #f9f9ff
}

.single-recent-blog-post {
    margin-bottom: 30px
}

.single-recent-blog-post .thumb {
    overflow: hidden
}

.single-recent-blog-post .thumb img {
    transition: all .7s linear
}

.single-recent-blog-post .details {
    padding-top: 30px
}

.single-recent-blog-post .details .sec_h4 {
    line-height: 24px;
    padding: 10px 0 13px;
    transition: all .3s linear
}

.single-recent-blog-post .date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400
}

.single-recent-blog-post:hover img {
    transform: scale(1.23) rotate(10deg)
}

.tags .tag_btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #eee;
    display: inline-block;
    padding: 1px 18px;
    text-align: center
}

.tags .tag_btn+.tag_btn {
    margin-left: 2px
}

.blog_categorie_area {
    padding-top: 30px;
    padding-bottom: 30px
}

@media(min-width:900px) {
    .blog_categorie_area {
        padding-top: 80px;
        padding-bottom: 80px
    }
}

@media(min-width:1100px) {
    .blog_categorie_area {
        padding-top: 120px;
        padding-bottom: 120px
    }
}

.categories_post {
    position: relative;
    text-align: center;
    cursor: pointer
}

.categories_post img {
    max-width: 100%
}

.categories_post .categories_details {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(34, 34, 34, .75);
    color: #fff;
    transition: all .3s linear;
    display: flex;
    align-items: center;
    justify-content: center
}

.categories_post .categories_details h5 {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
    position: relative
}

.categories_post .categories_details p {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0
}

.categories_post .categories_details .border_line {
    margin: 10px 0;
    background: #fff;
    width: 100%;
    height: 1px
}

.categories_post:hover .categories_details {
    background: rgba(222, 99, 32, .85)
}

.blog_item {
    margin-bottom: 50px
}

.blog_details {
    padding: 30px 0 20px 10px;
    box-shadow: 0 10px 20px 0 rgba(221, 221, 221, .3)
}

@media(min-width:768px) {
    .blog_details {
        padding: 60px 30px 35px 35px
    }
}

.blog_details p {
    margin-bottom: 30px
}

.blog_details a {
    color: #ff8b23
}

.blog_details a:hover {
    color: #7DBF50
}

.blog_details h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px
}

@media(min-width:768px) {
    .blog_details h2 {
        font-size: 24px;
        margin-bottom: 15px
    }
}

.blog-info-link li {
    float: left;
    font-size: 14px
}

.blog-info-link li a {
    color: #999
}

.blog-info-link li i,
.blog-info-link li span {
    font-size: 13px;
    margin-right: 5px
}

.blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px
}

.blog-info-link li:last-child::after {
    display: none
}

.blog-info-link::after {
    content: "";
    display: block;
    clear: both;
    display: table
}

.blog_item_img {
    position: relative
}

.blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    background-color: #7DBF50;
    padding: 8px 15px;
    border-radius: 5px
}

@media(min-width:768px) {
    .blog_item_img .blog_item_date {
        bottom: -20px;
        left: 40px;
        padding: 13px 30px
    }
}

.blog_item_img .blog_item_date h3 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.2
}

@media(min-width:768px) {
    .blog_item_img .blog_item_date h3 {
        font-size: 30px
    }
}

.blog_item_img .blog_item_date p {
    font-size: 18px;
    margin-bottom: 0;
    color: #fff
}

@media(min-width:768px) {
    .blog_item_img .blog_item_date p {
        font-size: 18px
    }
}

.blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px
}

.blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff
}

.blog_right_sidebar .single_sidebar_widget {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px
}

.blog_right_sidebar .single_sidebar_widget .btn_1 {
    margin-top: 0
}

.blog_right_sidebar .search_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0
}

.blog_right_sidebar .search_widget .form-control::placeholder {
    color: #999
}

.blog_right_sidebar .search_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none
}

.blog_right_sidebar .search_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0
}

.blog_right_sidebar .search_widget .input-group button i,
.blog_right_sidebar .search_widget .input-group button span {
    font-size: 14px;
    color: #999
}

.blog_right_sidebar .newsletter_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999;
    padding-left: 20px;
    border-radius: 0
}

.blog_right_sidebar .newsletter_widget .form-control::placeholder {
    color: #999
}

.blog_right_sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none
}

.blog_right_sidebar .newsletter_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0
}

.blog_right_sidebar .newsletter_widget .input-group button i,
.blog_right_sidebar .newsletter_widget .input-group button span {
    font-size: 14px;
    color: #999
}

.blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 1px solid #f0e9ff;
    transition: all .3s ease 0s;
    padding-bottom: 12px
}

.blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0
}

.blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888
}

.blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0
}

.blog_right_sidebar .post_category_widget .cat-list li+li {
    padding-top: 15px
}

.blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all .3s linear
}

.blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
    color: #fff
}

.blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0
}

.blog_right_sidebar .popular_post_widget .post_item+.post_item {
    margin-top: 20px
}

.blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block
}

.blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all .3s ease 0s;
    color: #888;
    font-size: 13px
}

.blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #7DBF50;
    color: #fff!important;
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s
}

.blog_right_sidebar .instagram_feeds .instagram_row {
    display: flex;
    margin-right: -6px;
    margin-left: -6px
}

.blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px
}

.blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 30px 0
}

.blog-pagination {
    margin-top: 80px
}

.blog-pagination .page-link {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0!important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 10px
}

.blog-pagination .page-link i,
.blog-pagination .page-link span {
    font-size: 13px
}

.blog-pagination .page-item.active .page-link {
    background-color: #fbf9ff;
    border-color: #f0e9ff;
    color: #888
}

.blog-pagination .page-item:last-child .page-link {
    margin-right: 0
}

.single-post-area .blog_details {
    box-shadow: none;
    padding: 0
}

.single-post-area .social-links {
    padding-top: 10px
}

.single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px
}

.single-post-area .social-links li a {
    color: #ccc;
    padding: 7px;
    font-size: 14px;
    transition: all .2s linear
}

.single-post-area .blog_details {
    padding-top: 26px
}

.single-post-area .blog_details p {
    margin-bottom: 20px;
    font-size: 15px
}

.single-post-area .quote-wrapper {
    background: rgba(130, 139, 178, .1);
    padding: 15px;
    line-height: 1.733;
    color: #888;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px
}

@media(min-width:768px) {
    .single-post-area .quote-wrapper {
        padding: 30px
    }
}

.single-post-area .quotes {
    background: #fff;
    padding: 15px 15px 15px 20px;
    border-left: 2px solid
}

@media(min-width:768px) {
    .single-post-area .quotes {
        padding: 25px 25px 25px 30px
    }
}

.single-post-area .arrow {
    position: absolute
}

.single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600
}

.single-post-area .thumb .overlay-bg {
    background: rgba(0, 0, 0, .8)
}

.single-post-area .navigation-top {
    padding-top: 15px;
    border-top: 1px solid #f0e9ff
}

.single-post-area .navigation-top p {
    margin-bottom: 0
}

.single-post-area .navigation-top .like-info {
    font-size: 14px
}

.single-post-area .navigation-top .like-info i,
.single-post-area .navigation-top .like-info span {
    font-size: 16px;
    margin-right: 5px
}

.single-post-area .navigation-top .comment-count {
    font-size: 14px
}

.single-post-area .navigation-top .comment-count i,
.single-post-area .navigation-top .comment-count span {
    font-size: 16px;
    margin-right: 5px
}

.single-post-area .navigation-top .social-icons li {
    display: inline-block;
    margin-right: 15px
}

.single-post-area .navigation-top .social-icons li:last-child {
    margin: 0
}

.single-post-area .navigation-top .social-icons li i,
.single-post-area .navigation-top .social-icons li span {
    font-size: 14px;
    color: #999
}

.single-post-area .blog-author {
    padding: 40px 30px;
    background: #fbf9ff;
    margin-top: 50px
}

@media(max-width:600px) {
    .single-post-area .blog-author {
        padding: 20px 8px
    }
}

.single-post-area .blog-author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px
}

@media(max-width:600px) {
    .single-post-area .blog-author img {
        margin-right: 15px;
        width: 45px;
        height: 45px
    }
}

.single-post-area .blog-author a {
    display: inline-block
}

.single-post-area .blog-author a:hover {
    color: #7DBF50
}

.single-post-area .blog-author p {
    margin-bottom: 0;
    font-size: 15px
}

.single-post-area .blog-author h4 {
    font-size: 16px
}

.single-post-area .navigation-area {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-top: 55px
}

.single-post-area .navigation-area p {
    margin-bottom: 0
}

.single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px
}

.single-post-area .navigation-area .nav-left {
    text-align: left
}

.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000
}

.single-post-area .navigation-area .nav-left .thumb img {
    -webkit-transition: .5s;
    transition: .5s
}

.single-post-area .navigation-area .nav-left .lnr {
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s
}

.single-post-area .navigation-area .nav-left:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-left:hover .thumb img {
    opacity: .5
}

@media(max-width:767px) {
    .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px
    }
}

.single-post-area .navigation-area .nav-right {
    text-align: right
}

.single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #000
}

.single-post-area .navigation-area .nav-right .thumb img {
    -webkit-transition: .5s;
    transition: .5s
}

.single-post-area .navigation-area .nav-right .lnr {
    margin-right: 20px;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s
}

.single-post-area .navigation-area .nav-right:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-right:hover .thumb img {
    opacity: .5
}

@media(max-width:991px) {
    .single-post-area .sidebar-widgets {
        padding-bottom: 0
    }
}

.comments-area {
    background: 0 0;
    border-top: 1px solid #eee;
    padding: 45px 0;
    margin-top: 50px
}

@media(max-width:414px) {
    .comments-area {
        padding: 50px 8px
    }
}

.comments-area h4 {
    margin-bottom: 35px;
    font-size: 18px
}

.comments-area h5 {
    font-size: 16px;
    margin-bottom: 0
}

.comments-area .comment-list {
    padding-bottom: 48px
}

.comments-area .comment-list:last-child {
    padding-bottom: 0
}

.comments-area .comment-list.left-padding {
    padding-left: 25px
}

@media(max-width:413px) {
    .comments-area .comment-list .single-comment h5 {
        font-size: 12px
    }
    .comments-area .comment-list .single-comment .date {
        font-size: 11px
    }
    .comments-area .comment-list .single-comment .comment {
        font-size: 10px
    }
}

.comments-area .thumb {
    margin-right: 20px
}

.comments-area .thumb img {
    width: 70px;
    border-radius: 50%
}

.comments-area .date {
    font-size: 14px;
    color: #999;
    margin-bottom: 0;
    margin-left: 20px
}

.comments-area .comment {
    margin-bottom: 10px;
    color: #777;
    font-size: 15px
}

.comments-area .btn-reply {
    background-color: transparent;
    color: #888;
    padding: 5px 18px;
    font-size: 14px;
    display: block;
    font-weight: 400
}

.comment-form {
    border-top: 1px solid #eee;
    padding-top: 45px;
    margin-top: 50px;
    margin-bottom: 20px
}

.comment-form .form-group {
    margin-bottom: 30px
}

.comment-form h4 {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px
}

.comment-form .name {
    padding-left: 0
}

@media(max-width:767px) {
    .comment-form .name {
        padding-right: 0;
        margin-bottom: 1rem
    }
}

.comment-form .email {
    padding-right: 0
}

@media(max-width:991px) {
    .comment-form .email {
        padding-left: 0
    }
}

.comment-form .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: 0 0
}

.comment-form .form-control:focus {
    outline: 0;
    box-shadow: none
}

.comment-form .form-control::placeholder {
    font-weight: 300;
    color: #999
}

.comment-form .form-control::placeholder {
    color: #777
}

.comment-form textarea {
    padding-top: 18px;
    border-radius: 12px;
    height: 100%!important
}

.comment-form ::-webkit-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form ::-moz-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form :-ms-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form :-moz-placeholder {
    font-size: 13px;
    color: #777
}

.single_blog_post .desc a {
    font-size: 16px;
    color: #232b2b!important
}

.single_blog_post .single_blog .single_appartment_content {
    padding: 38px 38px 23px;
    border: 0 solid #fdcb9e;
    box-shadow: 0 10px 20px 0 rgba(221, 221, 221, .3)
}

.single_blog_post .single_blog .single_appartment_content p {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px
}

.single_blog_post .single_blog .single_appartment_content p a {
    color: #7DBF50
}

.single_blog_post .single_blog .single_appartment_content h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.481;
    margin-bottom: 16px
}

.single_blog_post .single_blog .single_appartment_content h5 {
    font-size: 15px;
    color: #8a8a8a;
    font-weight: 400
}

.single_blog_post .single_blog .single_appartment_content .list-unstyled {
    margin-top: 33px
}

.single_blog_post .single_blog .single_appartment_content .list-unstyled li {
    display: inline;
    margin-right: 17px;
    color: #999
}

.single_blog_post .single_blog .single_appartment_content .list-unstyled li a {
    margin-right: 8px;
    color: #999
}

.sub_menu {
    background-color: #eaefff;
    padding: 14px 0
}

.sub_menu .sub_menu_right_content a {
    color: #0c3e72;
    margin: 15px
}

@media(max-width:575px) {
    .sub_menu .sub_menu_right_content a {
        margin: 3px
    }
}

.sub_menu .sub_menu_right_content i {
    color: #7DBF50;
    margin-right: 13px
}

.sub_menu .sub_menu_right_content span {
    color: #7DBF50;
    margin-right: 20px
}

@media(max-width:575px) {
    .sub_menu .sub_menu_right_content {
        text-align: center
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .sub_menu .sub_menu_right_content {
        text-align: center
    }
}

.sub_menu .sub_menu_social_icon {
    float: right;
    text-align: right
}

@media(max-width:575px) {
    .sub_menu .sub_menu_social_icon {
        text-align: center;
        float: none;
        margin-top: 15px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .sub_menu .sub_menu_social_icon {
        text-align: center;
        float: none;
        margin-top: 15px
    }
}

.sub_menu .sub_menu_social_icon span {
    margin-left: 15px;
    color: #0c3e72
}

.sub_menu .sub_menu_social_icon span i {
    color: #7DBF50;
    margin-right: 8px
}

.sub_menu .sub_menu_social_icon a {
    color: #0c3e72;
    margin-right: 20px
}

@media(max-width:575px) {
    .sub_menu .sub_menu_social_icon a {
        margin-right: 10px
    }
}

.sub_menu .sub_menu_social_icon a:hover {
    color: #7DBF50
}

.main_menu .navbar-brand {
    padding-top: 0
}

@media(max-width:575px) {
    .main_menu .navbar-brand img {
        max-width: 150px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .main_menu .navbar-brand img {
        max-width: 200px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .main_menu .navbar-brand img {
        max-width: 200px
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .main_menu .navbar-brand img {
        max-width: 200px
    }
}

.main_menu .navbar {
    padding: 0
}

.main_menu .main-menu-item ul li .nav-link {
    color: #0c3e72;
    font-size: 16px;
    padding: 38px 22px;
    font-family: open sans, sans-serif;
    text-transform: capitalize
}

.main_menu .main-menu-item ul li .nav-link:hover {
    color: #7DBF50
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .main_menu .main-menu-item ul li .nav-link {
        padding: 35px 16px
    }
}

.menu_fixed {
    position: fixed;
    z-index: 9999!important;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .05);
    top: 0
}

.menu_fixed .navbar-brand img {
    max-width: 150px
}

.menu_fixed .main-menu-item ul li .nav-link {
    padding: 25px
}

.menu_fixed span {
    color: #000!important
}

.dropdown:hover .dropdown-menu {
    display: block
}

.dropdown .dropdown-menu {
    transition: all .5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
    margin-top: 0;
    border: 0 solid rgba(0, 0, 0, .15)!important;
    background-color: #fafafa
}

.dropdown .dropdown-item {
    text-transform: capitalize
}

.dropdown:hover .dropdown-menu {
    transform: scale(1)
}

@media(max-width:991px) {
    .main_menu_iner {
        padding: 20px 0
    }
    .navbar-light .navbar-toggler {
        border-color: transparent
    }
    .navbar-collapse {
        z-index: 9999!important;
        position: absolute;
        left: 0;
        top: 65px;
        width: 100%;
        background-color: #fff;
        text-align: center!important
    }
    .dropdown .dropdown-menu {
        transform: scale(1, 0);
        display: none
    }
    .dropdown:hover .dropdown-menu {
        transform: scale(1);
        display: block
    }
    .main_menu .main-menu-item {
        text-align: left!important
    }
    .main_menu .main-menu-item .nav-item {
        padding: 10px 15px!important
    }
    .main_menu .main-menu-item .nav-item a {
        padding: 0!important
    }
}

.banner_part {
    height: 880px;
    position: relative;
    overflow: hidden;
    background-image: url(../img/banner_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1
}

@media(max-width:575px) {
    .banner_part {
        height: 650px;
        background-color: #f0eed4
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .banner_part {
        height: 650px;
        background-color: #f0eed4
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .banner_part {
        height: 700px;
        background-color: #f0eed4
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .banner_part {
        background-size: cover;
        height: 650px
    }
}

.banner_part .banner_text {
    display: table;
    width: 100%;
    height: 880px
}

.banner_part .banner_text .banner_text_iner {
    display: table-cell;
    vertical-align: middle
}

@media(max-width:575px) {
    .banner_part .banner_text {
        text-align: center;
        padding-top: 0;
        height: 650px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .banner_part .banner_text {
        text-align: center;
        padding-top: 0;
        height: 650px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .banner_part .banner_text {
        text-align: center;
        padding-top: 0;
        height: 700px
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .banner_part .banner_text {
        height: 650px
    }
}

.banner_part .banner_text p {
    font-size: 24px;
    color: #fff
}

.banner_part .banner_text h1 {
    font-size: 120px;
    line-height: 1;
    text-transform: capitalize;
    color: #fff;
    font-weight: 900;
    margin-bottom: 22px
}

@media(max-width:575px) {
    .banner_part .banner_text h1 {
        font-size: 30px;
        margin-bottom: 15px;
        line-height: 1.3
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .banner_part .banner_text h1 {
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 1.3
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .banner_part .banner_text h1 {
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 1.3
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .banner_part .banner_text h1 {
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 1.4
    }
}

.banner_part .banner_text h1 span {
    color: #7DBF50
}

.banner_part .banner_text h3 {
    font-size: 48px;
    font-weight: 300;
    color: #fff
}

@media(max-width:575px) {
    .banner_part .banner_text h3 {
        font-size: 28px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .banner_part .banner_text h3 {
        font-size: 28px
    }
}

.banner_part .banner_text .btn_1 {
    margin-top: 60px;
    background-color: #2CABDC;
    padding: 23px 79px
}

.banner_part .banner_text .btn_1:hover {
    color: #fff;
    background-color: #7DBF50
}

.booking_part {
    margin-top: -80px;
    z-index: 9;
    position: relative
}

.booking_part .booking_menu {
    background-color: #fff;
    padding: 0 35px
}

/**pagination**/

.pagination {
    font-size: 12px;
}

.pagination a {
    padding: 4px 10px;
    margin: 2px;
    border: 1px solid #A2A2A2;
    border-radius: 3px;
    text-decoration: none;
    /*nounderline*/
    color: #000000;
    font-weight: bold;
    background-color: #E9E9E9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.pagination a:hover,
div.digg a:active {
    border: 1px solid #7DBF50;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #7DBF50;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.pagination span.current {
    padding: 4px 10px;
    margin: 2px;
    border: 1px solid #7DBF50;
    border-radius: 5px;
    font-weight: bold;
    background-color: #7DBF50;
    color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.pagination span.disabled {
    padding: 4px 10px;
    margin: 2px;
    font-weight: bold;
    border: 1px solid #EEE;
    color: rgb(179, 99, 99);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media(max-width:575px) {
    .booking_part .booking_menu {
        padding: 0 20px
    }
}

.booking_part .booking_menu .nav-tabs .nav-item .nav-link,
.booking_part .booking_menu .nav-tabs .nav-link {
    color: #0c3e72;
    border-color: transparent;
    border: 10px solid transparent;
    text-transform: capitalize;
    padding: 28.5px 20px
}

.booking_part .booking_menu .nav-tabs {
    border-bottom: 0 solid transparent
}

.booking_part .booking_content {
    background-color: #fff;
    box-shadow: 0 10px 40px 0 rgba(221, 221, 221, .3);
    padding: 40px
}

.booking_part .form-row {
    display: flex;
    justify-content: space-between
}

.booking_part .form-row .form_colum {
    width: 20%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media(max-width:991px) {
    .booking_part .form-row .form_colum {
        width: 48%;
        margin-bottom: 15px
    }
}

@media(max-width:575px) {
    .booking_part .form-row .form_colum {
        width: 100%;
        margin-bottom: 15px
    }
}

.booking_part .form-row .form_colum .nc_select,
.booking_part .form-row .form_colum .gj-datepicker {
    width: 100%;
    border-color: #505C66;
    border-radius: 5px;
    color: #505C66;
    height: 50px;
    display: flex;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.booking_part .form-row .form_colum .nice-select:after {
    border-bottom: 2px solid #2CABDC;
    border-right: 2px solid #2CABDC;
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    right: 18px
}

.booking_part .form-row .form_colum .gj-textbox-md {
    border: 1px solid #505C66;
    padding: 16px;
    color: #505C66;
    font-size: 14px
}

.booking_part .form-row .form_colum .gj-datepicker-md [role=right-icon] {
    position: absolute;
    right: 12px;
    top: 13px;
    font-size: 24px
}

.booking_part .form-row .form_colum ::placeholder {
    color: #505C66;
}

.booking_part .nav-link.active {
    border-bottom: 3px solid #2CABDC!important
}

.about_us {
    position: relative;
    z-index: 1
}

.about_us .about_img img {
    width: 100%
}

@media(max-width:991px) {
    .about_us .about_text {
        margin-top: 30px
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .about_us .about_text {
        margin-top: 30px
    }
}

.about_us .about_text h5 {
    margin-bottom: 12px;
    color: #7DBF50;
    font-size: 16px;
    font-weight: 300
}

.about_us .about_text h2 {
    line-height: 56px;
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 46px
}

@media(max-width:991px) {
    .about_us .about_text h2 {
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 35px
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .about_us .about_text h2 {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 45px
    }
}

.about_us .about_text p {
    margin-top: 13px;
    font-weight: 300
}

.our_service_part {
    background-image: url(../img/service_bg_2.html);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 29% 86%
}

@media(max-width:575px) {
    .our_service_part {
        padding-top: 0;
        background-position: top left;
        background-size: 100% 35%
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .our_service_part {
        padding-top: 0;
        background-position: top left;
        background-size: 95% 55%
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .our_service_part {
        background-position: left;
        background-size: 48% 70%
    }
}

.top_place .single_place {
    position: relative;
    z-index: 2;
    margin-bottom: 30px
}

.top_place .single_place:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0c3e72;
    opacity: 0;
    z-index: 1;
    -webkit-transition: .5s;
    transition: .5s
}

.top_place .single_place .hover_Text {
    padding: 40px;
    position: absolute;
    bottom: -20px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transition: 1s;
    transition: 1s
}

@media(max-width:991px) {
    .top_place .single_place .hover_Text {
        padding: 15px
    }
}

.top_place .single_place .hover_Text .place_btn {
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    background-color: #7DBF50;
    text-transform: capitalize;
    margin-bottom: 14px
}

.top_place .single_place .hover_Text h3 {
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 0
}

@media(max-width:991px) {
    .top_place .single_place .hover_Text h3 {
        font-size: 20px;
        line-height: 25px
    }
}

.top_place .single_place .hover_Text p {
    color: #fff
}

.top_place .single_place .hover_Text .place_review {
    margin-top: 15px
}

.top_place .single_place .hover_Text .place_review a {
    color: #7DBF50
}

.top_place .single_place .hover_Text .place_review span {
    color: #fff
}

.top_place .single_place .details_icon {
    float: right
}

.top_place .single_place .details_icon i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff!important;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%
}

.top_place .single_place:hover .hover_Text {
    opacity: 1;
    visibility: visible;
    bottom: 0
}

.top_place .single_place:hover:after {
    opacity: .75
}

.top_place .btn_1 {
    margin: 0 auto;
    margin-top: 50px
}

.event_part {
    background-image: url(../img/event_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.event_part .event_slider_content {
    background-color: #fff;
    padding: 50px
}

@media(max-width:991px) {
    .event_part .event_slider_content {
        padding: 20px
    }
}

.event_part .event_slider_content h5 {
    color: #7DBF50;
    margin-bottom: 18px
}

.event_part .event_slider_content h2 {
    font-weight: 700;
    margin-bottom: 25px
}

@media(max-width:991px) {
    .event_part .event_slider_content h2 {
        margin-bottom: 10px;
        font-size: 30px
    }
}

.event_part .event_slider_content p {
    margin-bottom: 15px;
    color: #848484
}

.event_part .event_slider_content p span {
    color: #0c3e72
}

.event_part .rating {
    margin-bottom: 45px
}

.event_part .rating span {
    color: #848484;
    font-family: open sans, sans-serif;
    font-size: 16px
}

.event_part .owl-nav button {
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(255, 255, 255, .5)!important;
    position: absolute;
    left: 0;
    top: 45%;
    z-index: 99
}

.event_part .owl-nav button i {
    color: #7DBF50;
    font-weight: 700;
    font-size: 20px
}

.event_part .owl-nav .owl-next {
    left: auto;
    right: -10%
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .event_part .owl-nav .owl-next {
        right: -5%
    }
}

@media only screen and (min-width:1200px) and (max-width:1440px) {
    .event_part .owl-nav .owl-next {
        right: -5%
    }
}

.tour_details_content p {
    margin-bottom: 10px
}

.tour_details_content .tour_details_content_btn {
    text-align: center;
    margin-top: 80px
}

.hotel_list .single_ihotel_list {
    position: relative;
    -webkit-transition: 1s;
    transition: 1s;
    border-bottom: 1px solid #ced8e3
}

.hotel_list .single_ihotel_list img {
    width: 100%
}

.hotel_list .single_ihotel_list .hotel_text_iner {
    padding: 33px 0
}

@media(max-width:991px) {
    .hotel_list .single_ihotel_list .hotel_text_iner {
        padding: 15px 0 45px
    }
}

.hotel_list .single_ihotel_list .hotel_text_iner h3 {
    font-size: 24px;
    margin-bottom: 21px
}

.hotel_list .single_ihotel_list .hotel_text_iner h3 a {
    color: #0c3e72
}

@media(max-width:991px) {
    .hotel_list .single_ihotel_list .hotel_text_iner h3 {
        margin-bottom: 10px
    }
}

.hotel_list .single_ihotel_list .hotel_text_iner p {
    padding: 10px 0
}

.hotel_list .single_ihotel_list .hotel_text_iner h5 {
    height: 5px
}

.hotel_list .single_ihotel_list .hotel_text_iner h5 span {
    color: #7DBF50
}

.hotel_list .single_ihotel_list .hover_text {
    position: absolute;
    right: 10%;
    bottom: 49%;
    z-index: 9;
    -webkit-transition: .5s;
    transition: .5s
}

.hotel_list .single_ihotel_list .hover_text .share_icon {
    -webkit-transition: .5s;
    transition: .5s;
    transform: scaleX(1)
}

.hotel_list .single_ihotel_list .hover_text .share_icon i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff!important;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%
}

.hotel_list .single_ihotel_list .hover_text .hotel_social_icon {
    -webkit-transition: .5s;
    transition: .5s;
    transform: scaleY(0)
}

.hotel_list .single_ihotel_list .hover_text .hotel_social_icon ul li {
    text-align: center
}

.hotel_list .single_ihotel_list .hover_text .hotel_social_icon ul li i {
    border-radius: 50%;
    background-color: rgba(255, 122, 75, .7);
    top: 3771px;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    color: #fff;
    margin: 5px 0;
    -webkit-transition: .5s;
    transition: .5s
}

.hotel_list .single_ihotel_list .hover_text:hover .hotel_social_icon {
    transform: scaleY(1)
}

.hotel_list .single_ihotel_list .hover_text:hover .share_icon {
    transform: scaleX(0)
}

.single_page_hotel_list .single_ihotel_list .hover_text {
    position: absolute;
    right: 10%;
    bottom: 56%;
    z-index: 9;
    -webkit-transition: .5s;
    transition: .5s
}

.our_industries {
    padding: 130px 0 55px
}

@media(max-width:991px) {
    .our_industries {
        padding: 70px 0 55px
    }
}

.our_industries img {
    width: 100%
}

@media(max-width:991px) {
    .our_industries .single_industries {
        margin-bottom: 15px
    }
}

.our_industries .single_industries h3 {
    margin-top: 33px;
    font-size: 20px;
    position: relative;
    font-weight: 600;
    text-transform: uppercase
}

@media(max-width:991px) {
    .our_industries .single_industries h3 {
        margin-top: 20px
    }
}

.our_industries .single_industries h3:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -16px;
    width: 50px;
    height: 1px;
    background-color: #7DBF50
}

.our_industries .single_industries h3 a {
    color: #191d34;
    -webkit-transition: 1s;
    transition: 1s
}

.our_industries .single_industries h3 a:hover {
    color: #7DBF50
}

.our_industries .single_industries p {
    color: #777;
    margin-top: 27px
}

@media(max-width:991px) {
    .our_industries .single_industries img {
        width: 100%;
        height: auto
    }
}

.single_page_hotel_list p {
    line-height: 20px
}

.client_review {
    background-color: #0c3e72
}

.client_review .section_tittle h2 {
    color: #fff
}

.client_review .single_review_slider {
    background-color: #0e477d;
    padding: 30px
}

.client_review .single_review_slider p {
    display: inline-block;
    color: #fff;
    margin: 26px 0 32px
}

.client_review .single_review_slider h5 {
    font-weight: 18px;
    color: #fff
}

.client_review .single_review_slider .place_review {
    display: inline-block
}

.client_review .owl-nav {
    position: absolute;
    top: -120px;
    right: 0
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .client_review .owl-nav {
        top: -80px
    }
}

.client_review .owl-nav button {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    background-color: #2CABDC!important;
    color: #fff!important
}

.client_review .owl-nav button i {
    font-weight: 700
}

.client_review .owl-nav .owl-prev {
    margin-right: 10px
}

@media(max-width:991px) {
    .best_services .single_ihotel_list {
        margin-bottom: 25px
    }
}

.best_services .single_ihotel_list img {
    margin-bottom: 32px
}

@media(max-width:991px) {
    .best_services .single_ihotel_list img {
        margin-bottom: 10px;
        width: 100%
    }
}

.best_services .single_ihotel_list h3 a {
    font-size: 24px;
    color: #0c3e72;
    margin-bottom: 20px
}

.our_gallery .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1
}

@media(max-width:575px) {
    .our_gallery .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1
    }
}

.our_gallery .card-columns .card {
    border-radius: 0;
    border: 1px solid transparent
}

.our_gallery .card-columns .card .card-img-top {
    border-radius: 0;
    border: 1px solid transparent
}

.copyright_part {
    background-color: #191d34;
    padding: 26px 0
}

.copyright_part p {
    color: #8a8a8a;
    font-family: 300
}

.copyright_part a {
    color: #7DBF50
}

@media(max-width:575px) {
    .copyright_part .footer-social {
        margin-top: 20px
    }
}

.copyright_part .footer-social a {
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    border: 1px solid #ff7e5f;
    text-align: center;
    margin-left: 10px;
    color: #fff
}

.copyright_part .footer-social a:hover {
    background-color: #ff7e5f!important;
    color: #fff!important
}

.copyright_part .footer-social a i:hover {
    color: #fff
}

@media(max-width:575px) {
    .copyright_part .footer-text {
        text-align: center
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .copyright_part .footer-text {
        text-align: center;
        margin-bottom: 25px!important
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .copyright_part .footer-text {
        text-align: center;
        margin-bottom: 25px!important
    }
}

.copyright_part span.ti-heart {
    font-size: 12px;
    margin: 0 2px
}

.single_team_member {
    margin-bottom: 10px
}

.single_team_member .card-body {
    padding: 30px 0
}

.single_team_member .card {
    border: 0 solid
}

.single_team_member .card-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px
}

.single_team_member .blog_item_date {
    position: absolute;
    background-color: #ff8b23;
    bottom: 99px;
    left: 11px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    padding-top: 15px
}

.single_team_member .blog_item_date h3 {
    font-size: 24px;
    font-family: open sans, sans-serif;
    color: #fff;
    font-weight: 700
}

.single_team_member .single_team_member {
    position: relative
}

.single_team_member .header_social_icon ul li {
    display: inline-block;
    margin-left: 8px
}

.single_team_member .header_social_icon ul li a {
    color: #7a7575
}

.single_team_member .tean_content {
    display: inline-block;
    float: left
}

.single_team_member .tean_right_content {
    float: right;
    padding-top: 20px
}

.dropdown .dropdown-menu {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.contact-info {
    margin-bottom: 25px
}

.contact-info__icon {
    margin-right: 20px
}

.contact-info__icon i,
.contact-info__icon span {
    color: #8f9195;
    font-size: 27px
}

.contact-info .media-body h3 {
    font-size: 16px;
    margin-bottom: 0;
    font-size: 16px;
    color: #2a2a2a
}

.contact-info .media-body h3 a:hover {
    color: #7DBF50
}

.contact-info .media-body p {
    color: #8a8a8a
}

.contact-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px
}

.form-contact label {
    font-size: 14px
}

.form-contact .form-group {
    margin-bottom: 30px
}

.form-contact .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: 0 0
}

.form-contact .form-control:focus {
    outline: 0;
    box-shadow: none
}

.form-contact .form-control::placeholder {
    font-weight: 300;
    color: #999
}

.form-contact textarea {
    border-radius: 12px;
    height: 100%!important
}

.modal-message .modal-dialog {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)!important;
    margin: 0;
    max-width: 500px;
    width: 100%
}

.modal-message .modal-dialog .modal-content .modal-header {
    text-align: center;
    display: block;
    border-bottom: none;
    padding-top: 50px;
    padding-bottom: 50px
}

.modal-message .modal-dialog .modal-content .modal-header .close {
    position: absolute;
    right: -15px;
    top: -15px;
    padding: 0;
    color: #fff;
    opacity: 1;
    cursor: pointer
}

.modal-message .modal-dialog .modal-content .modal-header h2 {
    display: block;
    text-align: center;
    padding-bottom: 10px
}

.modal-message .modal-dialog .modal-content .modal-header p {
    display: block
}

.contact-section {
    padding: 130px 0 100px
}

@media(max-width:991px) {
    .contact-section {
        padding: 70px 0 40px
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .contact-section {
        padding: 80px 0 50px
    }
}

.contact-section .btn_2 {
    background-color: #191d34;
    padding: 18px 60px;
    border-radius: 50px;
    margin-top: 0
}

.contact-section .btn_2:hover {
    background-color: #7DBF50
}

.breadcrumb_bg {
    background-image: url(../img/breadcrumb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.breadcrumb {
    position: relative;
    z-index: 1
}

.breadcrumb:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: "";
    opacity: .6;
    z-index: -1
}

.breadcrumb .breadcrumb_iner {
    height: 400px;
    width: 100%;
    display: table
}

.breadcrumb .breadcrumb_iner .breadcrumb_iner_item {
    display: table-cell;
    vertical-align: middle
}

.breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
    color: #fff;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 24px;
    text-transform: capitalize
}

@media(max-width:991px) {
    .breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
        font-size: 35px;
        margin-bottom: 10px
    }
}

.breadcrumb .breadcrumb_iner .breadcrumb_iner_item p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize
}

.breadcrumb .breadcrumb_iner .breadcrumb_iner_item p a {
    color: #7DBF50
}

.breadcrumb .breadcrumb_iner .breadcrumb_iner_item span {
    margin: 0 5px;
    font-size: 12px
}

.breadcrumb {
    margin-bottom: 0!important
}

.footer-area {
    background-color: #162b45;
    padding: 130px 0 0;
    position: relative
}

@media(max-width:991px) {
    .footer-area {
        padding: 70 0 0
    }
}

.footer-area .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden
}

@media(max-width:991px) {
    .footer-area .single-footer-widget {
        margin-bottom: 30px
    }
}

.footer-area .single-footer-widget p {
    color: #fff;
    line-height: 1.8
}

.footer-area .single-footer-widget h4 {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase
}

@media(max-width:1024px) {
    .footer-area .single-footer-widget h4 {
        font-size: 18px
    }
}

@media(max-width:991px) {
    .footer-area .single-footer-widget h4 {
        margin-bottom: 25px
    }
}

.footer-area .single-footer-widget ul {
    columns: 2
}

.footer-area .single-footer-widget ul li {
    margin-bottom: 10px
}

.footer-area .single-footer-widget ul li a {
    color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 15px
}

.footer-area .single-footer-widget ul li a:hover {
    color: #7DBF50
}

.footer-area .single-footer-widget .form-wrap {
    margin-bottom: 25px
}

.footer-area .single-footer-widget input {
    height: 50px;
    border: none;
    width: 67%!important;
    font-weight: 400;
    padding-left: 20px;
    border-radius: 0;
    font-size: 13px;
    color: #999;
    background-color: #092742;
    border: 0 solid transparent
}

.footer-area .single-footer-widget input:focus {
    outline: none;
    box-shadow: none
}

.footer-area .single-footer-widget .click-btn {
    background-color: #7DBF50;
    color: #fff;
    border-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 8px 20px;
    border: 0;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    left: 0
}

.footer-area .single-footer-widget .click-btn:focus {
    outline: none;
    box-shadow: none
}

.footer-area .footer_1 img {
    margin-bottom: 35px
}

@media(max-width:575px) {
    .footer-area .footer_1 img {
        margin-bottom: 20px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .footer-area .footer_1 img {
        margin-bottom: 20px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .footer-area .footer_1 img {
        margin-bottom: 20px
    }
}

.footer-area .footer_1 p {
    margin-bottom: 15px
}

.footer-area .social_icon {
    margin-top: 27px
}

.footer-area .social_icon a {
    color: #ccc;
    font-size: 14px;
    margin-right: 20px
}

.footer-area .social_icon a:hover {
    color: #7DBF50
}

.footer-area .footer_3 .footer_img .single_footer_img {
    width: 31.33%;
    float: left;
    margin: 1%;
    position: relative;
    z-index: 2
}

@media(max-width:575px) {
    .footer-area .footer_3 .footer_img .single_footer_img {
        width: 20%
    }
    .footer-area .footer_3 .footer_img .single_footer_img img {
        width: 100%
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .footer-area .footer_3 .footer_img .single_footer_img {
        width: 20%
    }
    .footer-area .footer_3 .footer_img .single_footer_img img {
        width: 100%
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .footer-area .footer_3 .footer_img .single_footer_img {
        width: 31%
    }
    .footer-area .footer_3 .footer_img .single_footer_img img {
        width: 100%
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .footer-area .footer_3 .footer_img .single_footer_img {
        width: 31%
    }
    .footer-area .footer_3 .footer_img .single_footer_img img {
        width: 100%
    }
}

@media only screen and (min-width:1200px) and (max-width:1440px) {
    .footer-area .footer_3 .footer_img .single_footer_img {
        width: 20%
    }
    .footer-area .footer_3 .footer_img .single_footer_img img {
        width: 100%
    }
}

.footer-area .footer_3 .footer_img .single_footer_img:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s
}

.footer-area .footer_3 .footer_img .single_footer_img i {
    text-align: center;
    position: absolute;
    top: 41%;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 2;
    opacity: 0
}

.footer-area .footer_3 .footer_img .single_footer_img:hover:after {
    opacity: .5
}

.footer-area .footer_3 .footer_img .single_footer_img:hover i {
    opacity: 1
}

.footer-area .contact_info {
    position: relative;
    margin-bottom: 20px
}

.footer-area .contact_info:last-child {
    margin-bottom: 0
}

.footer-area .contact_info p {
    margin-bottom: 10px
}

.footer-area .contact_info p span {
    color: #2c3033;
    font-size: 16px
}

.footer-area .btn {
    background-color: #7DBF50;
    color: #fff;
    width: 49px;
    border-radius: 0;
    height: 50px
}

.footer-area span.ti-heart {
    font-size: 12px;
    margin: 0 2px
}

.footer-area .copyright_part_text {
    background-color: #08223a;
    padding: 32px 15px;
    margin-top: 95px
}

.footer-area .copyright_part_text p {
    color: #777
}

@media(max-width:575px) {
    .footer-area .copyright_part_text {
        margin-top: 20px;
        text-align: center
    }
    .footer-area .copyright_part_text p {
        font-size: 13px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .footer-area .copyright_part_text {
        text-align: center;
        margin-top: 20px;
        padding: 32px 15px
    }
    .footer-area .copyright_part_text p {
        font-size: 13px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .footer-area .copyright_part_text {
        text-align: center
    }
}

.footer-area .copyright_part_text a {
    color: #7DBF50
}

.footer-area .input-group {
    border: 1px solid #45556a;
    padding: 5px
}

.footer-area .footer_icon p {
    margin-bottom: 22px;
    font-size: 16px
}

.footer-area .footer_icon span {
    color: #7DBF50
}

.footer-area .footer_icon ul li {
    margin-bottom: 20px
}

.footer-area .footer_icon ul li i {
    margin-right: 15px
}

.footer-area .footer_icon .social-icons {
    margin-top: 30px
}

.footer-area .footer_icon .social-icons a {
    color: #fff;
    margin-right: 15px;
    -webkit-transition: .5s;
    transition: .5s
}

.footer-area .footer_icon .social-icons a:hover {
    color: #7DBF50
}

@media(max-width:991px) {
    .footer_icon {
        margin-top: 20px
    }
}

.footer_menu {
    float: right
}

@media(max-width:575px) {
    .footer_menu {
        float: none;
        text-align: center;
        margin-top: 15px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .footer_menu {
        float: none;
        text-align: center;
        margin-top: 15px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .footer_menu {
        float: none;
        text-align: center;
        margin-top: 15px
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .footer_menu {
        float: none;
        text-align: center;
        margin-top: 15px
    }
}

.footer_menu ul li {
    display: inline-block
}

.footer_menu ul li a {
    color: #777!important;
    padding: 0 22px
}

.footer_menu ul li a:hover {
    color: #7DBF50!important
}

@media(max-width:575px) {
    .footer_menu ul li a {
        padding: 0 15px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .footer_menu ul li a {
        padding: 0 15px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .footer_menu ul li a {
        padding: 0 15px
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .footer_menu ul li a {
        padding: 0 15px
    }
}

.sample-text-area {
    background: #fff;
    padding: 100px 0 70px
}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px
}

b,
sup,
sub,
u,
del {
    color: #7DBF50
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2em
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    color: #828bb2
}

.button-area {
    background: #fff
}

.button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee
}

.button-group-area .genric-btn {
    margin-right: 10px;
    margin-top: 10px
}

.button-group-area .genric-btn:last-child {
    margin-right: 0
}

.genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.genric-btn:focus {
    outline: none
}

.genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px
}

.genric-btn.large {
    line-height: 45px
}

.genric-btn.medium {
    line-height: 30px
}

.genric-btn.small {
    line-height: 25px
}

.genric-btn.radius {
    border-radius: 3px
}

.genric-btn.circle {
    border-radius: 20px
}

.genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.genric-btn.arrow span {
    margin-left: 10px
}

.genric-btn.default {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.default:hover {
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.default-border:hover {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.primary {
    color: #fff;
    background: #7DBF50;
    border: 1px solid transparent
}

.genric-btn.primary:hover {
    color: #7DBF50;
    border: 1px solid #7DBF50;
    background: #fff
}

.genric-btn.primary-border {
    color: #7DBF50;
    border: 1px solid #7DBF50;
    background: #fff
}

.genric-btn.primary-border:hover {
    color: #fff;
    background: #7DBF50;
    border: 1px solid transparent
}

.genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent
}

.genric-btn.success:hover {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff
}

.genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff
}

.genric-btn.success-border:hover {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent
}

.genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent
}

.genric-btn.info:hover {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff
}

.genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff
}

.genric-btn.info-border:hover {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent
}

.genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent
}

.genric-btn.warning:hover {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff
}

.genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff
}

.genric-btn.warning-border:hover {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent
}

.genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent
}

.genric-btn.danger:hover {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff
}

.genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff
}

.genric-btn.danger-border:hover {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent
}

.genric-btn.link {
    color: #415094;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent
}

.genric-btn.link:hover {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.link-border {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline
}

.genric-btn.link-border:hover {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.disable {
    color: #222, .3;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed
}

.generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #7DBF50
}

.progress-table-wrap {
    overflow-x: scroll
}

.progress-table {
    background: #f9f9ff;
    padding: 15px 0 30px;
    min-width: 800px
}

.progress-table .serial {
    width: 11.83%;
    padding-left: 30px
}

.progress-table .country {
    width: 28.07%
}

.progress-table .visit {
    width: 19.74%
}

.progress-table .percentage {
    width: 40.36%;
    padding-right: 50px
}

.progress-table .table-head {
    display: flex
}

.progress-table .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage {
    color: #415094;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500
}

.progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex
}

.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage {
    display: flex;
    align-items: center
}

.progress-table .table-row .country img {
    margin-right: 15px
}

.progress-table .table-row .percentage .progress {
    width: 80%;
    border-radius: 0;
    background: 0 0
}

.progress-table .table-row .percentage .progress .progress-bar {
    height: 5px;
    line-height: 5px
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
    background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
    background-color: #e66686
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
    background-color: #f09359
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
    background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
    background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
    background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
    background-color: #a367e7
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
    background-color: #e66686
}

.single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
    height: 200px
}

.list-style {
    width: 14px;
    height: 14px
}

.unordered-list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em!important
}

.unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #7DBF50;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%
}

.ordered-list {
    margin-left: 30px
}

.ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #7DBF50;
    font-weight: 500;
    line-height: 1.82em!important
}

.ordered-list li span {
    font-weight: 300;
    color: #828bb2
}

.ordered-list-alpha li {
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #7DBF50;
    font-weight: 500;
    line-height: 1.82em!important
}

.ordered-list-alpha li span {
    font-weight: 300;
    color: #828bb2
}

.ordered-list-roman li {
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #7DBF50;
    font-weight: 500;
    line-height: 1.82em!important
}

.ordered-list-roman li span {
    font-weight: 300;
    color: #828bb2
}

.single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input:focus {
    outline: none
}

.input-group-icon {
    position: relative
}

.input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3
}

.input-group-icon .icon i {
    color: #797979
}

.input-group-icon .single-input {
    padding-left: 45px
}

.single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none
}

.single-textarea:focus {
    outline: none
}

.single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-primary:focus {
    outline: none;
    border: 1px solid #7DBF50
}

.single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55
}

.single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359
}

.default-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
}

.default-switch input+label {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #7DBF50;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer
}

.default-switch input:checked+label {
    left: 19px
}

.primary-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.primary-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: 0 0;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.primary-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer
}

.primary-switch input:checked+label:after {
    left: 19px
}

.primary-switch input:checked+label:before {
    background: #7DBF50
}

.confirm-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.confirm-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: 0 0;
    border-radius: 8.5px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer
}

.confirm-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer
}

.confirm-switch input:checked+label:after {
    left: 19px
}

.confirm-switch input:checked+label:before {
    background: #4cd3e3
}

.primary-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-checkbox input:checked+label {
    background: url(../img/elements/primary-check.png) no-repeat center center/cover;
    border: none
}

.confirm-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.confirm-checkbox input:checked+label {
    background: url(../img/elements/success-check.png) no-repeat center center/cover;
    border: none
}

.disabled-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.disabled-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.disabled-checkbox input:disabled {
    cursor: not-allowed;
    z-index: 3
}

.disabled-checkbox input:checked+label {
    background: url(../img/elements/disabled-check.png) no-repeat center center/cover;
    border: none
}

.primary-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-radio input:checked+label {
    background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
    border: none
}

.confirm-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.confirm-radio input:checked+label {
    background: url(../img/elements/success-radio.png) no-repeat center center/cover;
    border: none
}

.disabled-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.disabled-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.disabled-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.disabled-radio input:disabled {
    cursor: not-allowed;
    z-index: 3
}

.disabled-radio input:checked+label {
    background: url(../img/elements/disabled-radio.png) no-repeat center center/cover;
    border: none
}

.default-select {
    height: 40px
}

.default-select .nice-select {
    border: none;
    border-radius: 0;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px
}

.default-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0
}

.default-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 20px
}

.default-select .nice-select .list .option.selected {
    color: #7DBF50;
    background: 0 0
}

.default-select .nice-select .list .option:hover {
    color: #7DBF50;
    background: 0 0
}

.default-select .current {
    margin-right: 50px;
    font-weight: 300
}

.default-select .nice-select::after {
    right: 20px
}

.form-select {
    height: 40px;
    width: 100%
}

.form-select .nice-select {
    border: none;
    border-radius: 0;
    height: 40px;
    background: #f9f9ff;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%
}

.form-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0
}

.form-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 45px
}

.form-select .nice-select .list .option.selected {
    color: #7DBF50;
    background: 0 0
}

.form-select .nice-select .list .option:hover {
    color: #7DBF50;
    background: 0 0
}

.form-select .current {
    margin-right: 50px;
    font-weight: 300
}

.form-select .nice-select::after {
    right: 20px
}

.mt-10 {
    margin-top: 10px
}

.section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee
}

.mb-30 {
    margin-bottom: 30px
}

.mt-30 {
    margin-top: 30px
}

.switch-wrap {
    margin-bottom: 10px
}