.msg_con {
    height: 30px;
}

.msg_error {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background-color: #990000;
    height: 25px;
    opacity: 0.9
}

.msg_error img {
    margin-left: 2px
}

.msg_error {
    color: #FFFFFF;
    font-size: 12px;
    background-color: #990000;
    padding: 8px 23px;
    border-radius: 4px
}

.msg_ok {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    height: 25px;
    opacity: 0.9;
}

.msg_ok {
    color: #ffffff;
    width: 200px;
    font-size: 12px;
    background-color: #3c76b9;
    /**/
    padding: 8px 23px;
    border-radius: 4px
}

.msg_ok img {
    margin-left: 2px
}